:root {
        --primary-color: #1E1E1E;
        --secundary-color: #EB8366;
        --third-color: #D9D9D9;
        --fourth-color: #FFA502;
        --fifth-color: #DD9FFF;
        --sixth-color: #D9D9D9;
        --seventh-color: #565656;



}

body {
        background-color: var(--secundary-color);
        font-family: sans-serif;
        
}

/*---------------------------------------------- HEADER/*---------------------------------------------- */
header {

        display: flex;
        margin: 70px 45px 0px 45px;
        /*define o espaçamento interno nessa ordem: cima, direita, baixo, esquerda */
        background-color: var(--primary-color);
        justify-content: space-between;
        align-items: center;
        /* impede que o conteúdo expanda pra fora do container */

}

.container1 {
        display: flex;
        color: var(--third-color);
}

h3 {
        margin: 47px 0px 13px 27px;

}

.asterisco {
        margin: 38px 0px 8px 34px;

}

.container2 {
        display: flex;
        color: var(--third-color);
        margin: 0px 0px 0px 130px
}

.container3 {
        display: flex;
        color: var(--third-color);
}

.login {
        margin: 50px 76px 0px 10px
}


.telefone {
        margin: 35px 27px 0px 0px;
}




.start {
        margin: 38px 20px 8px 0px;
        width: 200px;
        height: 39px;
        background-color: var(--seventh-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;

}


/*---------------------------------------------- main/*---------------------------------------------- */

main {

        display: flex;
        background-color: var(--primary-color);
        margin: 0px 45px 0px 45px;
        /* cima, direita, baixo, esquerda */
        justify-content: space-between;
        color: #D9D9D9;
        height: 750px;
}


.M {

        display: flex;
        margin-top: 72px;
        margin-left: 132px;

}


h1 {
        display: flex;
        margin-top: 41px;
        font-size: 128px;
        margin-left: 117px;


}

.linhaUm {
        margin-left: 125px;
}

.value {
        display: flex;
        justify-content: space-between;
        margin-left: 125px;
        font-size: 20px;

}

.descricao {
        display: flex;
        margin-left: 125px;
        margin-top: 13px;
        width: 390px;
        font-size: 16px;

}

.perfil {
        display: flex;
        margin-left: 123px;
        margin-top: 37px;
}

.cinza {

        border-radius: 100%;
        background-color: #565656;
        width: 37px;
        height: 37px;
}



.nome {
        margin-left: 10px;
        font-size: 17px;
}

.project {
        font-size: 15px;
        margin-left: 10px;

}

.linhaDois {
        margin-left: 125px;
}

.botao{
        display: flex;
}

.retanguloUm {
        display: flex;
        height: 36px;
        width: 142px;
        background-color: #EB8366;
        border-radius: 50px;
        margin-left: 130px;
        margin-top: 33px;
        justify-content: center;
        align-items: center;
}

.apply {
        font-size: 11px;
}

.retanguloDois {
        display: flex;
        height: 36px;
        width: 112px;
        font-size: 12px;
        background-color: #565656;
        border-radius: 50px;
        margin-left: 9px;
        margin-top: 33px;
        justify-content: center;
        align-items: center;
}


.direita{
display: flex;
}

.laranja{

        display: flex;
        height: 378px;
        width: 170px;
        background-color: #EB8366;
        border-radius: 75px;
        justify-content: center;
        align-items: center;

}



.branco{

        display: flex;
        flex-direction: column;
        height: 176px;
        width: 178px;
        background-color: #f0f0f0;
        color: #1E1E1E;
        border-radius: 75px;
        justify-content: center;
        align-items: center;
        margin-top: 270px;
        position: absolute;
        z-index: 10;


}

.quatroX{
        flex-direction: column;
        font-size: 76px;
        margin-top: -20px;
        
}

.average{
        font-size: 15px;
        margin-left: 30px;
}



.amarelo{

        display: flex;
        flex-direction: column;
        height: 161px;
        width: 193px;
        background-color: #FFA502;
        border-radius: 75px;
        justify-content: center;
        align-items: center;
        color: #1E1E1E;

}

.setenta{
        flex-direction: column;
        font-size: 76px;
        margin-top: -20px;

}

.reduce{
        width: 150px;
}

.roxo{

        display: flex;
        height: 270px;
        width: 189px;
        background-color: #DD9FFF;
        border-radius: 75px;
        justify-content: center;
        align-items: center;

}




/*---------------------------------------------- rodapé/*---------------------------------------------- */

footer {

        display: flex;
        background-color: var(--primary-color);
        margin: 0px 45px 70px 45px;
        justify-content: center;
        align-items: center;



        /* impede que o conteúdo expanda pra fora do container */

}