:root {
        --primary-color: #1E1E1E;
        --secundary-color: #EB8366;
        --third-color: #D9D9D9;
        --fourth-color: #FFA502;
        --fifth-color: #DD9FFF;
        --sixth-color: #D9D9D9;
        --seventh-color: #565656;



}

body {
        height: 100vh;
        background-color: var(--secundary-color);
        font-family: sans-serif;
        display: flex;
        flex-direction: column;

}

/*---------------------------------------------- HEADER/*---------------------------------------------- */
header {
           
        display: flex;
        margin: 70px 45px 0px 45px;
        /*define o espaçamento interno nessa ordem: cima, direita, baixo, esquerda */
        background-color: var(--primary-color);
        justify-content: space-between;
        align-items: center;
        /* impede que o conteúdo expanda pra fora do container */

}

.container1 {
        display: flex;
        color: var(--third-color);
}

h3 {
        margin: 47px 0px 13px 27px;

}

.asterisco {
        margin: 38px 0px 8px 34px;

}

.container2 {
        display: flex;
        color: var(--third-color);
        margin: 0px 0px 0px 130px
}

.container3 {
        display: flex;
        color: var(--third-color);
}

.login {
        margin: 50px 76px 0px 10px
}


.telefone {
        margin: 35px 27px 0px 0px;
}




.start {
        margin: 38px 20px 8px 0px;
        width: 200px;
        height: 39px;
        background-color: var(--seventh-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;

}


/*---------------------------------------------- main/*---------------------------------------------- */

main {
        flex: 1; /*cresce para ocupar todo o espaço disponível dentro do container flex*/
        display: flex;
        background-color: var(--primary-color);
        margin: 0px 45px 0px 45px;
        /* cima, direita, baixo, esquerda */
        justify-content: space-between;
        align-items: center;
        /* impede que o conteúdo expanda pra fora do container */
}

.direita {
   display: flex;
    justify-content: center;
    align-items: center;
}

.direita img{

        height: 25vw;
}












/*---------------------------------------------- rodapé/*---------------------------------------------- */

footer {

        display: flex;
        background-color: var(--primary-color);
        margin: 0px 45px 70px 45px;
        justify-content: center;
        align-items: center;
                     

  
        /* impede que o conteúdo expanda pra fora do container */

}